.infoContainer {
  display: flex;
  gap: 2rem;
}

.textContainer {
  flex: 0 1 70%;
  text-align: justify;
}
.textContainer p {
  line-height: 1.6rem;
}

.buttonsContainer {
  display: flex;
  gap: 2rem;
}

.button {
  padding: 1rem;
  border: 2px solid black;
  width: fit-content;
  cursor: pointer;
  transition: all 0.5s ease;
  margin-top: 2rem;
}

.button:hover {
  color: white;
  background: black;
}

.buttonDark {
  padding: 1rem;
  border: 2px solid black;
  width: fit-content;
  cursor: pointer;
  transition: all 0.5s ease;
  margin-top: 2rem;
  color: white;
  background: black;
}

.buttonDark:hover {
  color: black;
  background: white;
}
