html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

a {
  font-weight: 600;
  display: inline-block;
  line-height: 1.6rem;
}

a::after {
  content: "";
  width: 0px;
  height: 2px;
  display: block;
  background: black;
  transition: 300ms;
}

a:hover::after {
  width: 100%;
}
